div(id='popup1' class='overlay')
    div(class='popup')
        div(class='popup__close') &times;
        div(class='popup-content')
            form(class= 'basic-form' id='add_room')
                div
                    label(class='basic-form__label') Имя игры 
                    input(name='name', type='text', required='required', class='popup-content__input')
                div
                    label(class='basic-form__label') Игроков
                    select(name='players' class='basic-form__select')
                        option(value=2) 2
                        option(value=4) 4
                div
                    label(class='basic-form__label') Размер карты
                    select(name='size' class='basic-form__select')
                        option(value=5, selected='selected') маленькая
                        option(value=7) средняя
                        option(value=9) большая
                div
                    label(class='basic-form__label') Время хода
                    select(name='time' class='basic-form__select')
                        option(value=30) 30 секунд
                        option(value=60, selected='selected') 60 секунд
                        option(value=90) 90 секунд
                input(name='submit', type='submit', value='Создать', class= 'basic-button_form', href='', 'data-href'= '')