$light_font_color: white;
$header_footer_bgcolor: brown;
$player_ready_color: lawngreen;

.player-block {
    border: 2px solid $light_font_color;
    background: $header_footer_bgcolor;
    color: $light_font_color;
    // position: absolute;
    display: inline-block;

    &_ready {
        background: $player_ready_color;
    }
}

.rooms_content {
    background: $light_font_color;
}

.plus-button {
    width: 50px;
    height: 50px;
    background-image: url(../../../img/plus.png);
    background-size: cover;
    display: inline-block;

    &:hover{
        filter: drop-shadow(5px 5px 5px #222);
    }

    &:active {
        transform: scale(0.9);
    }
}

.popup-content__input {
    width: 100%;
}