$light_font_color: white;
$header_footer_bgcolor: brown;
$player_ready_color: lawngreen;

.player-block {
    border: 2px solid $light_font_color;
    background: $header_footer_bgcolor;
    color: $light_font_color;
    // position: absolute;
    display: inline-block;

    &_ready {
        background: $player_ready_color;
    }
}

.rooms_content {
    background: $light_font_color;
}