div(class='player-block' id='player-block-' + number)
    case number
        when 0
            img(src= require('../../../img/flags/flag-green.png'))
        when 1
            img(src= require('../../../img/flags/flag-red.png'))
        when 2
            img(src= require('../../../img/flags/flag-blue.png'))
        when 3
            img(src= require('../../../img/flags/flag-yellow.png'))
    div #{name}