if headerType == "landing"
    a(class="basicButton" href="signup" data-href="signup") Регистрация
    a(class="basicButton" href="signin" data-href="signin") Вход
else if headerType == "menu"
else if headerType == "back"
    a(class="basicButton") Назад