case headerType
    when "notLoggedIn"
        a(class="basic-button basic-button_back" ) Назад
        a(class="basic-button basic-button_right" href="signup" data-href="signup") Регистрация
        a(class="basic-button basic-button_right" href="signin" data-href="signin") Вход
    when "loggedIn"
        a(class="basic-button basic-button_back") Назад
        a(class="basic-button basic-button_right" href="logout" data-href="logout") Выйти
        a(class="basic-button basic-button_right" href="profile" data-href="profile") Профиль
        