case headerType
    when "landing"
        a(class="navigation__basicButton" href="signup" data-href="signup") Регистрация
        a(class="navigation__basicButton" href="signin" data-href="signin") Вход
    when "menu"
    when "back"
        a(class="navigation__basicButton") Назад