if headerType == "landing"
    a(class="basicButton" href="signup" data-href="signup") Регистрация
    a(class="basicButton" href="signin" data-href="signin") Вход
else if headerType == "menu"
else if headerType == "backToLanding"
    a(class="basicButton" href="landing" data-href="landing") Назад
else if headerType == "backToMenu"
    a(class="basicButton" href="menu" data-href="menu") Назад в меню