div(class="page-header")
div(class="chatPage-body")
div(class="page-footer")
    input(class="input-field" type="text" id="input-field")
    //- button(class="send-button") send
    a(class="basic-button basic-button_send" href="" id="sendButton") Send