extends ../BaseView/baseView.pug

block content
    a(class="mainSection__content__landingButton" href="menu" data-href="menu") Играть
    a(class="mainSection__content__landingButton" href="rules" data-href="rules") Правила