extends ../BaseView/baseView.pug

block content
    div
        a(class="landingButtons" href="menu" data-href="menu") Играть
    div
        a(class="landingButtons" href="rulesLanding" data-href="rulesLanding") Правила