extends ../BaseView/baseView.pug

block content
    div
        a(class="landingButtons" href="menu" data-href="menu") Играть
    div
        a(class="landingButtons" href="rules" data-href="rules") Правила