$text_color:#313638;
$error_line_bgcolor: #A7333F;
$error_text_color: white;

@import './normalize.css';

@viewport {
    width: device-width;
}

.application {
    font-family: Arial, Helvetica, sans-serif;
}

.main-section {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);

    &__title {
        @media (min-width: 350px) {
            font-size: 54px;            
        }

        @media (max-width: 350px) {
            font-size: 45px;
        }
        color:$text_color;        
    }
}

.page-content {
    &__error-line {
        background-color:$error_line_bgcolor;
        color: $error_text_color;
        font-size: 20px;   
    }
}

.grid {
    display: grid;
    grid-template: 100px auto 100px / 200px 1fr 200px;

    &-item {
        padding: 5px;
        border: 1px solid red;
    }
}

html {
    //background: url(../img/mountains.png) no-repeat center center fixed;
    //background-size: cover;
    background: url(../img/water.png)
}

.page-footer {
    position: absolute;
    bottom: 10;
}

.input-field {
    height: 30;
    width: 150;
}

.message {
    background-color: aquamarine;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 8px;
}

