$text_color: brown;
$error_line_bgcolor: brown;
$error_text_color: white;

@import '../scripts/blocks/Form/Form.scss';
@import '../scripts/blocks/Button/Button.scss';
@import '../scripts/blocks/Table/Table.scss';
@import '../scripts/views/LandingView/Landing.scss';
@import '../scripts/views/MenuView/MenuView.scss';
@import '../scripts/views/GameView/GameView.scss';
@import './normalize.css';

@viewport {
    width: device-width;
}

.main-section {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);

    &__title {
        @media (min-width: 350px) {
            font-size: 54px;
        }

        @media (max-width: 350px) {
            font-size: 45px;
        }
        color:$text_color;
        //margin-top:3em;
    }
}

.page-content {
    &__error-line {
        background-color:$error_line_bgcolor;
        color: $error_text_color;
        font-size: 20px;   
    }
}

.grid {
    display: grid;
    grid-template: 100px auto 100px / 200px 1fr 200px;

    &-item {
        padding: 5px;
        border: 1px solid red;
    }
}

body {
	background: url(../img/water.png)
}