@import '../scripts/blocks/Button/Button.css';
@import '../scripts/blocks/Table/Table.css';
@import '../scripts/blocks/Header/Header.css';
@import '../scripts/views/LandingView/Landing.css';
@import '/scripts/views/GameView/GameView.css';


.mainSection {
    height: 200px;
    width: 400px;

    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.mainSection__title {
    font-size: 54px;
    color: brown;
}


.errorLine {
    background-color: brown;
    color: white;
    font-size: 20px;   
}

table {
    width: 300px;
    border-collapse: collapse;
    border: 2px solid white;
}

td, th {
    padding: 3px;
    border: 1px solid maroon;
    text-align: left;
}