.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 54px;
    color: brown;
}

a {
    font-size: 30px;
    color: darkkhaki;
}

table {
    width: 300px;
    border-collapse: collapse;
    border: 2px solid white;
}

td, th {
    padding: 3px;
    border: 1px solid maroon;
    text-align: left;
}