nav(class= navClass)
    include ../../blocks/Header/header.pug
section(class= mainSectionClass || "centerSection", id= mainSectionId || "mainSection")
    h2 #{title}
    div(id="content")
        block content
