nav(class= navClass)
    //- include ../../blocks/Header/header.pug
section(class= mainSectionClass || "mainSection", id= mainSectionId || "mainSection")
    h2(class="mainSection__title") #{title}
    div(class="mainSection__content", id="content")
        block content
