mixin player(username, index, color)
    div(id='game__players__block-' + index)
        h3(class='game__players__block__name') #{username}
        h2(class='game__players__block__score') 0      

section(class='game__players')
    each name, index in names
        +player(name, index)