mixin card(id, type)
    div(class= 'card', id= id)
        img(class= 'front-face', src= 'img/water.png')
        img(class= 'back-face', src= 'img/'+ type + '.png')

mixin base_row(id, type)
    - var length = 3
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'base')
    +card(id, type)
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'base')

mixin field(size)
    - for (var row = 0; row < size; row++)
        +card('gameCard', 'base')
        - for (var card = 1; card <= size; card++)
            +card('gamecard-'+ ((row*size)+card), 'unopened')
        +card('gameCard', 'base')

div(style= "width:20px;height:20px;background-color:coral;position:absolute;z-index: 1" id= "player-0-0")
div(style= "width:20px;height:20px;background-color:coral;position:absolute;z-index: 1" id= "player-0-1")
div(style= "width:20px;height:20px;background-color:chartreuse;position:absolute;z-index: 1" id= "player-1-0")
div(style= "width:20px;height:20px;background-color:chartreuse;position:absolute;z-index: 1" id= "player-1-1")
section(class='board', id='gameBoard')
    +base_row('ship-1', 'ship')
    +field(5)
    +base_row('ship-2', 'ship')
    
    