mixin card(id, type)
    div(class= 'game__card', id= id)
        img(class= 'game__card_front-face', src= 'img/water.png')
        img(class= 'game__card_back-face', src= 'img/'+ type + '.png')

mixin base(player, color, count)
    div(class= 'game__card', id= 'base-' + player)
        img(class= 'game__card_front-face', src= 'img/water.png')
        img(class= 'game__card_back-face', src= 'img/base.png')
        - for (var pirate = 0; pirate < count; pirate++)
            img(id= 'pirate-' + player + '-' + pirate, class= 'game__pirate', src='img/ships/' + color + '.png')

mixin base_row(player, color, count)
    - var length = 3
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'sand')
    +base(player, color, count)
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'sand')

mixin field(size)
    - for (var row = 0; row < size; row++)
        +card('gameCard', 'sand')
        - for (var card = 1; card <= size; card++)
            +card('gamecard-'+ ((row*size)+card), 'unopened')
        +card('gameCard', 'sand')

section(class='game')
    section(class='game__board', id='gameBoard')
        +base_row('0', 'red', 2)
        +field(5)
        +base_row('1', 'green', 2)
        
    section(class='game__players')
        div Игрок 1
        div Игрок 2

    section(class='game__timer')
        div(id='timer') 0
    