section(class='board', id='gameBoard')    
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card',  id="ship-1")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/ship.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id='gameCard')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')

    div(class='card', id="gamecard-1")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-2")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-3")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-4")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-5")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id="gamecard-6")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-7")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-8")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-9")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-10")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id="gamecard-11")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-12")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-13")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-14")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-15")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id="gamecard-16")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-17")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-18")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-19")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-20")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card', id="gamecard-21")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-22")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-23")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-24")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card', id="gamecard-25")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card',  id="ship-2")
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/ship.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unused.png')
    div(style="width:20px; height:20px; background-color:coral;position:absolute;left:270" id="player-2")
    div(style="width:20px;height:20px;background-color:chartreuse;position:absolute;top:618;left:270" id="player-1")
    