mixin landEmptyRow
    - for (var i = 0; i < boardSide; ++i) {        
        div(class='land-block', id='gameCard')
            if i == (boardSide-1) / 2
                img(class='land-card', src='img/base.png')
            else
                img(class='land-card', src='img/empty.png')
    - }

mixin emptyTile
    div(class='land-block', id='gameCard')
        img(class='land-card', src='img/empty.png') 

section(class='board', id='gameBoard')
    +landEmptyRow
    each row in cardsMap
        +emptyTile      
        each val in row
            div(class='card', id='gameCard')
                case val
                    when 0
                        img(class='front-face', src='img/gold.png')
                    when 1
                        img(class='front-face', src='img/water.png')
                    when 2
                        img(class='front-face', src='img/grass.png')
                    when 3
                        img(class='front-face', src='img/plant.png')
                img(class='back-face', src='img/unopened.png')
        +emptyTile
    +landEmptyRow