mixin card(id, type)
    div(class= 'card', id= id)
        img(class= 'front-face', src= 'img/water.png')
        img(class= 'back-face', src= 'img/'+ type + '.png')

mixin base_row(id, type)
    - var length = 3
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'base')
    +card(id, type)
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'base')

mixin field(size)
    - for (var row = 0; row < size; row++)
        +card('gameCard', 'base')
        - for (var card = 1; card <= size; card++)
            +card('gamecard-'+ ((row*size)+card), 'unopened')
        +card('gameCard', 'base')
div(class= "gameSection")
    div(style= "position:absolute;z-index: 1" id= "player-0-0")
        img(src="img/ships/red.png", style= "width:45px")
    div(style= "position:absolute;z-index: 1" id= "player-0-1")
        img(src="img/ships/red.png", style= "width:45px")
    div(style= "position:absolute;z-index: 1" id= "player-1-0")
        img(src="img/ships/green.png", style= "width:45px")
    div(style= "position:absolute;z-index: 1" id= "player-1-1")
        img(src="img/ships/green.png", style= "width:45px")
    section(class='board', id='gameBoard')
        +base_row('ship-0', 'ship')
        +field(5)
        +base_row('ship-1', 'ship')
    
    