mixin player(username, color)
    div(class='game__players__block')
        div(class='game__players__block__avatar')
        h3(class='game__players__block__name') username
        div(class='game__players__block__score')        

section(class='game__players')
    +player('Игрок 1')
    +player('Игрок 2')