mixin card(id, type, square)
    div(class= 'game__square game__square_' + size, id= square)
        div(class= 'game__card', id= id)
            img(class= 'game__card_front-face', src= require('../../../img/water.png'))
            img(class= 'game__card_back-face', src= require('../../../img/'+ type + '.png'))

mixin base(player, color, count)
    div(class= 'game__square game__square_' + size, id= 'base-square' + player)
        div(class= 'game__card', id= 'base-' + player)
            img(class= 'game__card_front-face', src= require('../../../img/water.png'))
            img(class= 'game__card_back-face', src= require('../../../img/bases/base-'+ color +'.png'))
        - for (var pirate = 0; pirate < count; pirate++)
            img(id= 'pirate-' + player + '-' + pirate, class= 'game__pirate', src=require('../../../img/ships/' + color + '.png'))

mixin base_row(player, color, count, size)
    - var length = (size+1)/2
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'grass', 'square')
    +base(player, color, count)
    - for (var card = 0; card < length; card++)
        +card('gameCard', 'grass', 'square')

mixin field(size, players, units)
    - for (var row = 0; row < size; row++)
        if (row === ((size-1)/2) && players > 2)
            +base('2', 'blue', units)
            - for (var card = 1; card <= size; card++)
                - var num = ((row*size)+card)
                +card('gamecard-'+ num, 'unopened', 'square-'+ num)
            +base('3', 'yellow', units)
        else
            +card('gameCard', 'grass', 'square')
            - for (var card = 1; card <= size; card++)
                - var num = ((row*size)+card)
                +card('gamecard-'+ num, 'unopened', 'square-'+ num)
            +card('gameCard', 'grass', 'square')

section(class='game')
    section(class='game__board', id='gameBoard')
        +base_row('0', 'green', units, size)
        +field(size, players, units)
        +base_row('1', 'red', units, size)
    