form(id='add_room')
    p Название: 
        input(name='name', type='text', required='required')
    p Кол-во игроков: 
        select(name='count')
            option 2
            option 4
    input(name='submit', type='submit', value='Создать', href='', 'data-href'= '')