section(class='board', id='gameBoard')
    each val in cardsQuantity
        div(class='card', id='gameCard')
            img(class='front-face', src='img/water.png')
            img(class='back-face', src='img/unopened.png')

    