section(class='board', id='gameBoard')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')
    div(class='card')
        img(class='front-face', src='img/water.png')
        img(class='back-face', src='img/unopened.png')

    //- while count != 4
    //-     div(class='card')
    //-         img(class='front-face', src='img/water.png')
    //-         img(class='back-face', src='img/unopened.png')
    //-     p count
    //-     count ++

    